<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="titles"><h2>Mes demandes reçues</h2></div>
      <% @palbookings.each do |palbooking| %>
      <div class="small-card-product ">
  <%= link_to pal_path(palbooking.user), class: "small-card-link" do %>
    <div class="d-flex justify-content-evenly">
      <%= image_tag "avatar7.png" %>
        <div class="small-card-product-infos">
          <h2> <%= palbooking.user.username %> </h2>
          <p><%= palbooking.user.age %> ans, <%= palbooking.user.city %></p>
          <p><%= palbooking.user.hobby %></p>
        </div>
    </div>
   <% end %>
 </div>
      <% end %>
    </div>
    <div class="col-6">
     <div class="titles"><h2>Mes demandes envoyées</h2></div>
      <% @bookings.each do |booking| %>
      <%= render "pals/small_card", pal: booking.pal %>
      <% end %>
    </div>


  </div>
</div>
