<div class="small-card-product ">
  <%= link_to pal_path(pal), class: "small-card-link" do %>
    <div class="d-flex justify-content-evenly">
      <% if pal.user.photo.attached? %>
             <%= cl_image_tag pal.user.photo.key, class: "avatar", alt: "" %>
             <% else %>
             <%= image_tag "photopardefaut.png", class: "avatar", alt: "" %>
           <% end %>
        <div class="small-card-product-infos">
          <h2> <%= pal.user.username %> </h2>
          <p><%= pal.user.age %> ans, <%= pal.user.city %></p>
          <p><%= pal.user.hobby %></p>
            <% if (params[:controller] == "dashboards") %>
            <%= link_to "Supprimer", booking_path(booking),:class => 'btn btn-primary', data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}%>
            <% end %>
        </div>
    </div>
   <% end %>
 </div>
