<h1>Liste des Pals disponible</h1>
  <% @pals.each do |pal| %>
    <%= link_to pal_path(pal) do %>
      <%= pal.user.username %>
      <%= pal.user.age %>
      <%= pal.user.city %>
      <%= pal.user.hobby %>
    <% end %>
  <% end %>
