 <div class="titles"><h2>Proposer une activitée</h2>
  </div>

 <div class="row center-flex">
    <div class="col-5">
      <div class="card-product">
        <% if current_user.photo.attached? %>
             <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "" %>
             <% else %>
             <%= image_tag "photopardefaut.png", class: "avatar", alt: "" %>
           <% end %>
        <div class="card-product-infos">
          <h2>Pals name</h2>
           <p class="card-text">Mon age :  </p>
           <p class="card-text">Lieu de rencontre :  </p>
           <p class="card-text">Hobby préféré :  </p>
              <%= simple_form_for @pal, html: {class: 'pal-form' } do |f| %>
                <%= f.input :price, :label => 'Choisir un prix', :placeholder => 'Prix en €'%>
                <%= f.button :submit, :class => 'btn btn-primary' %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
