<div class="titles"><h2>Et c'est un match 😍</h2>
  </div>

<div class="row center-flex">
  <div class="col-5">
    <div class="card-product">
      <%= image_tag "avatar7.png" %>
      <div class="card-product-infos">
        <h2><%= @pal.user.username %></h2>
        <p class="card-text">Son age : <%= @pal.user.age %> ans, </p>
        <p class="card-text">Lieu de rencontre : <%= @pal.user.city %> </p>
        <p class="card-text">Hobby préféré : <%= @pal.user.hobby %> </p>
        <p class="card-text">Prix : <%= @pal.price %> €</p>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <%= simple_form_for [@pal, @booking] do |f| %>
                <%= f.input :start_date, :label => "Début",
                as: :string,
            input_html: { data: { controller: "flatpicker" } } %>
                <%= f.input :end_date,  :label => "Fin",
                as: :string,
            input_html: { data: { controller: "flatpicker" } } %>
                <%= f.submit "Book this pal", :class => 'btn btn-primary mt-5' %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
